version: "3"

services:
    lit:
        container_name: lit
        hostname: lit
        image: massmux/lit:latest
        restart: on-failure
        volumes:
          - ${PWD}/.lit:/root/.lit
	  - ${PWD}/.lnd:/root/.lnd
          - ${PWD}/.faraday:/root/.faraday
          - ${PWD}/.loop:/root/.loop
          - ${PWD}/.pool:/root/.pool
          - ${PWD}/.tapd:/root/.tapd
        entrypoint: /app/entrypoint.sh
        environment:
            CHOSENPASSWORD: changeme
            SETALIAS: youralias
            SETHOST: your.domain.name
        ports:
          - 8443:8443
          - 10009:10009
          - 9735:9735
          - 80:80
