version: "3"

services:
    lit:
        container_name: lit
        hostname: lit
        image: massmux/lit:latest
        restart: on-failure
        volumes:
          - ${PWD}/.lit:/root/.lit
        entrypoint: /app/entrypoint.sh
        environment:
            CHOSENPASSWORD: changeme
            SETALIAS: youralias
            SETHOST: your.domain.name
        ports:
          - 8443:8443
          - 10009:10009
          - 9735:9735
          - 80:80
